<header class="main-header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">JOYMILLERS</a>
      <img src="cook.gif" alt="Hot Ugali" class="ugali-gif" />
    </div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      
    </nav>
  </div>
</header>
