<section class="hero" style="background-image: url('pr/community.jpg'); background-size: cover; background-position: center;">
    <div class="hero-content">
      <h1>Welcome to JOYMILLERS</h1>
      <p>Your trusted partner in premium flour milling.</p>
      <a routerLink="/products" class="btn-primary">Explore Products</a>
    </div>
  </section>
  
  <section class="about">
    <h2>About Us</h2>
    <p>
      JOYMILLERS LTD is a top-tier flour milling company committed to delivering
      the highest quality products to households and industries across the region.
        Our state-of-the-art milling technology ensures that our flour is not only
        nutritious but also meets the highest safety standards. We take pride in our
        commitment to quality, sustainability, and community engagement.
    </p>
  </section>
  
  <section class="product-preview" >

    <h2>Our Products</h2>
    <div class="product-cards">
      <div class="card">
        <img src="products/Raha Premium Fortified Multipurpose Whole Meal Flour (Atta Mark 1).png" alt="Product 1" />
        <p>Premium Maize Flour</p>
      </div>
      <div class="card">
        <img src="products/Raha Premium Fortified Multipurpose Home Baking Flour.png" alt="Product 2" />
        <p>Premium Wheat Flour</p>
      </div>
      <div class="card">
        <img src="products/Joymax Growers Mash.png" alt="Packaging" />
        <p>Growers Mash</p>
      </div>
      <div class="card">
        <img src="products/Joymax Dairy Meal.png" alt="Mill Product" />
        <p>Dairy Meal</p>
      </div>
    </div>
    <a routerLink="/products" class="btn-secondary">See All Products</a>
  </section>
  
  <section class="cta">
    <h2>Let’s Work Together</h2>
    <a routerLink="/contact" class="btn-primary">Contact Us</a>
  </section>
  